body {
    box-sizing: border-box;
    background-color: #1a9ac9;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.puzzle {
    width: 780px;
    height: 450px;
    background-image: linear-gradient(to top, #2c96b9, #1a9ac9);
    position: relative;
    box-sizing: border-box;
    padding: 0;
    border: 1px solid #fff;
}

.name{
    text-align: center;
    color: #fff;
    font-size: 56px;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rows {
    width: 100%;
    display: flex;
}

.image {
    height: 150px;
    width: 260px;
    border: 1px solid #ffffff;
    position: relative;
    transition: all 4s ease-out;
}

.image:hover{
    border: none;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-1-1 {
    animation: move1;
    animation-delay: 1s;
    animation-duration: 1.7s;
    animation-fill-mode: forwards;
    transition: all 4s ease-out;
}

@keyframes move1 {
    0% {
        left: 0px;
        top: 0px;
    }

    25% {
        left: 70px;
        top: 0px;
    }

    50% {
        left: 140px;
        top: 0px;
    }

    75% {
        left: 260px;
        top: 0px;
    }

    100% {
        left: 260px;
        top: 150px;
    }
}
.image-1-2,
.image-3-3 {
    animation: move2;
    animation-delay: 1s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    transition: all 4s ease-out;
}

@keyframes move2 {
    0% {
        right: 0px;
    }

    25% {
        right: 70px;
    }

    50% {
        right: 110px;
    }

    75% {
        right: 190px;
    }

    100% {
        right: 260px;
    }
}

.image-1-3,
.image-2-1 {
    animation: move3;
    animation-delay: 1s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    transition: all 4s ease-out;
}

@keyframes move3 {
    0% {
        top: 0px;
    }

    25% {
        top: 30px;
    }

    50% {
        top: 60px;
    }

    75% {
        top: 90px;
    }

    100% {
        top: 150px;
    }
}

.image-2-3,
.image-3-1 {
    animation: move6;
    animation-delay: 1s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    transition: all 4s ease-out;
}

@keyframes move6 {
    0% {
        bottom: 0px;
    }

    25% {
        bottom: 30px;
    }

    50% {
        bottom: 60px;
    }

    75% {
        bottom: 90px;
    }

    100% {
        bottom: 150px;
    }
}

.image-3-2 {
    animation: move7;
    animation-delay: 1s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    transition: all 4s ease-out;
}

@keyframes move7 {
    0% {
        bottom: 0px;
    }

    25% {
        bottom: 60px;
    }

    50% {
        bottom: 120px;
    }

    75% {
        bottom: 240px;
    }

    100% {
        bottom: 300px;
    }
}

.image-2-2 {
    animation: move5;
    animation-delay: 1s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    transition: all 4s ease-out;
}

@keyframes move5 {
    0% {
        top: 0px;
        left: 0px;
    }

    25% {
        top: 40px;
        left: 0px;
    }

    50% {
        top: 90px;
        left: 0px;
    }

    75% {
        top: 150px;
        left: 0px;
    }

    100% {
        top: 150px;
        left: 260px;
    }

}