* {
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1120px;
    width: 72%;
    margin: 40px auto;
}

.product {
    border: 1px solid #999999;
    width: 400px;
    margin: 10px 0;
    padding: 20px;
    border-radius: 3px;
}
.product_name{
    font-size: 23px;
}

#product_image {
    width: 400px;
    height: 325px;
    object-fit: contain;
    margin-bottom: 10px;
}

.company {
    margin-bottom: 10px;
}

.price {
    color: #b12704;
    margin-bottom: 20px;
}

.features {
    background-color: #ebebeb;
    padding: 20px;
    margin-bottom: 20px;
    list-style-type: none;
}

.buy,
.add {
    color: #853ae0;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 10px 10px 0px;
}

.buy:hover,
.add:hover {
    text-decoration: underline;
}

.back {
    font-size: 12px;
    display: block;
    font-style: italic;
    color: #000;
    padding: 10px 10px 10px 0px;
}